<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-4">
      <table class="table table-bordered">
        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= favorite.area.area_name %></td>
            <td><%= favorite.area.address %></td>
            <td>お気に入り登録<%= favorite.area.favorites.count %>件</td>
            <td>コメント<%= favorite.area.area_comments.count %>件</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>