<div class="container">
  <div class="row mt-4">
    <div class="col-10 mx-auto">
      <h2 class="text-center w-25 h4 bg-light">お気に入り一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto mt-4">
      <table class="table table-bordered">
        <tbody>
          <% @favorites.each do |favorite| %>
          <tr>
            <td><%= link_to favorite.area.area_name, area_path(favorite.area), class: '' %></td>
            <td><%= favorite.area.address %></td>
            <td>お気に入り登録<%= favorite.area.favorites.count %>件</td>
            <td>コメント<%= favorite.area.area_comments.count %>件</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>