<div class='container'>
  <div class='row'>
    <div class='mt-7 mx-auto text-center'>
      <h4><strong>本当に退会しますか？</strong></h4>
    </div>
  </div>
  <div class='row mt-4'>
    <div class='mx-auto'>
      <span class='mr-3'>
        <%= link_to "退会しない", users_mypage_path, class: 'btn btn-primary' %>
      </span>
      <%= link_to "退会する", users_withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" } , class: 'btn btn-danger' %>
    </div>
  </div>
</div>